h1
h2
h3
h4
h5
h6
	font-size: 1.25rem;
	inter 1.2em

.heading--section
	font-size 2.1rem
	font-weight: 800

.heading--archive
	font-size 1.875rem
	font-weight: 800
	uppercase()

.heading--archive__sub
	font-size 1.6rem
	uppercase()

.heading--single
	font-size: 2.1rem
	talign center
	italic()

.txt__small
	font-size 0.813rem


@media screen and (max-width : med_query)
	.heading--section
		font-size 1.6rem
	.heading--archive
		font-size 1.4rem
	.heading--archive__sub
		font-size 1.2rem
	.heading--single
		font-size: 1.6rem
		
